<section class="mt-5 text-bg-dark pt-2 pb-2 ms-2 me-2 mt-2 border border-3">
	<div class="title d-flex column  ">
		<h3 class="ms-4">title</h3>
		<p class="me-4">date posted</p>
	</div>
</section>

<section class="mt-5 text-bg-dark pt-2 pb-2 ms-2 me-2 mt-2 border border-3">
	<div class="title d-flex column  ">
		<h3 class="ms-4">title</h3>
		<p class="me-4">date posted</p>
	</div>
</section>

<section class="mt-5 text-bg-dark pt-2 pb-2 ms-2 me-2 mt-2 border border-3">
	<div class="title d-flex column  ">
		<h3 class="ms-4">title</h3>
		<p class="me-4">date posted</p>
	</div>
</section>

<div class="d-flex create-post-button">
	<button type="button" class="btn btn-light pt-1 pb-1 ps-4 pe-4 mt-3" id="create-button">+ Create Blog Post</button>
</div>
