<form action="/blog/{{post.id}}?_method=PUT" method="POST">
	<h2 class="text-light text-center mt-3 mb-4">Update Blog Post</h2>
	<div class="form-container text-bg-dark">

		<div>
			<h3>Title</h3>
			<input type="text" name="title" id="title-input" value="{{post.title}}">
		</div>

		<div>
			<h3>content</h3>
			<textarea id="content" name="content" rows="4" cols="43">{{post.content}}</textarea>
		</div>

		<div class="d-flex create-post-button">
			<button type="submit" class="btn btn-secondary mt-3">Update Blog Post</button>
		</div>

	</div>
</form>