

<div class="text-bg-dark pt-3 pb-3 ms-2 me-2 rounded mt-3">
	<div class="blog-container rounded">
		<div class="d-flex column title border border-dark border-3">
			<h3 class="ms-4">Title</h3>
			<p class="me-4">Date Posted</p>
		</div>
		
		<div class="blog-content border border-dark border-3">
			<p class="ms-3 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quos possimus modi nam hic inventore voluptatum ducimus eaque ea quisquam molestiae sapiente tempora quis adipisci cupiditate quasi, animi laboriosam suscipit!</p>
		</div>
	</div>
</div>

<div class="text-bg-dark pt-3 pb-3 ms-2 me-2 rounded mt-3">
	<div class="blog-container rounded">
		<div class="d-flex column title border border-dark border-3">
			<h3 class="ms-4">Title</h3>
			<p class="me-4">Date Posted</p>
		</div>
		
		<div class="blog-content border border-dark border-3">
			<p class="ms-3 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quos possimus modi nam hic inventore voluptatum ducimus eaque ea quisquam molestiae sapiente tempora quis adipisci cupiditate quasi, animi laboriosam suscipit!</p>
		</div>
	</div>
</div>

<div class="text-bg-dark pt-3 pb-3 ms-2 me-2 rounded mt-3">
	<div class="blog-container rounded">
		<div class="d-flex column title border border-dark border-3">
			<h3 class="ms-4">Title</h3>
			<p class="me-4">Date Posted</p>
		</div>
		
		<div class="blog-content border border-dark border-3">
			<p class="ms-3 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quos possimus modi nam hic inventore voluptatum ducimus eaque ea quisquam molestiae sapiente tempora quis adipisci cupiditate quasi, animi laboriosam suscipit!</p>
		</div>
	</div>
</div>


