<form action="/register" method="POST">
	<h2 class="text-light text-center">Create an Account</h2>
		<div class="form-container">
			<div>
				<h3>Username</h3>
				<input type="text">
			</div>

			<div>
				<h3>Email</h3>
				<input type="email" name="email" id="email-input">
			</div>

			<div>
				<h3>Password</h3>
				<input type="password" name="password" id="password-input">
			</div>
			
		</div>
</form>